public/
.public.git.keep/
static/fonts/
.tmp/
.agents/
.idea/
.vscode/
.workbuddy/
node_modules/
content/

*.dll
*.dylib
*.exe
*.exe~
*.so
*.swp
*.swo
*.tar.gz
*.test
*.tgz
*.zip
*~

.DS_Store
Thumbs.db
.env
.env.*
_config.yaml
go.work
